### cse-221710309059-v praveenkumar

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

- 1.What is the parameter we should use to mention the first row in the data set are not columns what is the value we should send for that parameter

In [123]:
data = pd.read_table("csvfile.csv")
data

            ,A,B,C,D,E
0  0,foo,one,small,1,2
1  1,foo,one,large,2,4
2  2,foo,one,large,2,5
3  3,foo,two,small,3,5
4  4,foo,two,small,3,6
5  5,bar,one,large,4,6
6  6,bar,one,small,5,8
7  7,bar,two,small,6,9
8  8,bar,two,large,7,9

In [100]:
data = pd.read_table("csvfile.csv",sep=";")
data

            ,A,B,C,D,E
0  0,foo,one,small,1,2
1  1,foo,one,large,2,4
2  2,foo,one,large,2,5
3  3,foo,two,small,3,5
4  4,foo,two,small,3,6
5  5,bar,one,large,4,6
6  6,bar,one,small,5,8
7  7,bar,two,small,6,9
8  8,bar,two,large,7,9

In [101]:
data = pd.read_table("newcsv.csv",sep=";",header=None)
data

                     0
0           ,A,B,C,D,E
1  0,foo,one,small,1,2
2  1,foo,one,large,2,4
3  2,foo,one,large,2,5
4  3,foo,two,small,3,5
5  4,foo,two,small,3,6
6  5,bar,one,large,4,6
7  6,bar,one,small,5,8
8  7,bar,two,small,6,9
9  8,bar,two,large,7,9

- Read the data in the data.csv file in the proper format Use ['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country '] as columns
- check how many rows and columns are there
- what are the columns names
- what are are the row labels
- Write down your observation
- what type of data you have
- In the data if you have observed are there any missing values(NaN)
- print the datatype of each column
- For each data type how many columns are there
- Using describe function observe the different measures for numerical and categorical columns
- Use the info function to get the detailed info of the dataframe
- Check for the duplicate values in all the columns
- Replace the value “South America” from country column with NaN and fill with mode of the column
- Check the count of categories being repeated in the source column.

In [102]:
#Use ['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country '] as columns
data = pd.read_table("csvfile.csv",sep=";",header=None,names=['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country'])
data

           my_datetime  event  country_code  user_id  source  country
0           ,A,B,C,D,E    NaN           NaN      NaN     NaN      NaN
1  0,foo,one,small,1,2    NaN           NaN      NaN     NaN      NaN
2  1,foo,one,large,2,4    NaN           NaN      NaN     NaN      NaN
3  2,foo,one,large,2,5    NaN           NaN      NaN     NaN      NaN
4  3,foo,two,small,3,5    NaN           NaN      NaN     NaN      NaN
5  4,foo,two,small,3,6    NaN           NaN      NaN     NaN      NaN
6  5,bar,one,large,4,6    NaN           NaN      NaN     NaN      NaN
7  6,bar,one,small,5,8    NaN           NaN      NaN     NaN      NaN
8  7,bar,two,small,6,9    NaN           NaN      NaN     NaN      NaN
9  8,bar,two,large,7,9    NaN           NaN      NaN     NaN      NaN

In [103]:
#check how many rows and columns are there
print("No of rows:",data.shape[0])
print("No of columns:",data.shape[1])

No of rows: 10
No of columns: 6

In [104]:
#what are are the row labels
print("row labels")
print(data.index.values)

row labels
[0 1 2 3 4 5 6 7 8 9]

In [105]:
print("column labels")
print(data.columns.values)

column labels
['my_datetime' 'event' 'country_code' 'user_id' 'source' 'country']

In [106]:
##- Write down your observation
#- what type of data you have 
#   - In the data if you have observed are there any missing values(NaN)
data.dtypes

my_datetime      object
event           float64
country_code    float64
user_id         float64
source          float64
country         float64
dtype: object

In [107]:
data.isnull().sum()

my_datetime      0
event           10
country_code    10
user_id         10
source          10
country         10
dtype: int64

In [108]:
#print the datatype of each column
data['my_datetime'].dtypes

dtype('O')

In [109]:
data['event'].dtypes

dtype('float64')

In [110]:
data['country_code'].dtypes

dtype('float64')

In [111]:
data['user_id'].dtypes

dtype('float64')

In [112]:
data['source'].dtypes

dtype('float64')

In [113]:
data['country'].dtypes

dtype('float64')

In [114]:
#For each data type how many columns are there
print("object columns:",len(data.select_dtypes(include='O').columns))
print("int columns:",len(data.select_dtypes(include='int64').columns))

object columns: 1
int columns: 0

In [115]:
# Using describe function observe the different measures for numerical and categorical columns
data.describe(include='int64')

ValueError: No objects to concatenate

In [116]:
data.describe(include='O')

                my_datetime
count                    10
unique                   10
top     7,bar,two,small,6,9
freq                      1

In [117]:
#Use the info function to get the detailed info of the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
my_datetime     10 non-null object
event           0 non-null float64
country_code    0 non-null float64
user_id         0 non-null float64
source          0 non-null float64
country         0 non-null float64
dtypes: float64(5), object(1)
memory usage: 608.0+ bytes

In [118]:
# Check for the duplicate values in all the columns
for i in data.columns:
    print(i,"\n",data[data[i].duplicated()],"\n\n")

my_datetime
 Empty DataFrame
Columns: [my_datetime, event, country_code, user_id, source, country]
Index: []


event
            my_datetime  event  country_code  user_id  source  country
1  0,foo,one,small,1,2    NaN           NaN      NaN     NaN      NaN
2  1,foo,one,large,2,4    NaN           NaN      NaN     NaN      NaN
3  2,foo,one,large,2,5    NaN           NaN      NaN     NaN      NaN
4  3,foo,two,small,3,5    NaN           NaN      NaN     NaN      NaN
5  4,foo,two,small,3,6    NaN           NaN      NaN     NaN      NaN
6  5,bar,one,large,4,6    NaN           NaN      NaN     NaN      NaN
7  6,bar,one,small,5,8    NaN           NaN      NaN     NaN      NaN
8  7,bar,two,small,6,9    NaN           NaN      NaN     NaN      NaN
9  8,bar,two,large,7,9    NaN           NaN      NaN     NaN      NaN


country_code
            my_datetime  event  country_code  user_id  source  country
1  0,foo,one,small,1,2    NaN           NaN      NaN     NaN      NaN
2  1,foo,one,large,2,4    NaN           NaN      NaN     NaN      NaN
3  2,foo,one,large,2,5    NaN           NaN      NaN     NaN      NaN
4  3,foo,two,small,3,5    NaN           NaN      NaN     NaN      NaN
5  4,foo,two,small,3,6    NaN           NaN      NaN     NaN      NaN
6  5,bar,one,large,4,6    NaN           NaN      NaN     NaN      NaN
7  6,bar,one,small,5,8    NaN           NaN      NaN     NaN      NaN
8  7,bar,two,small,6,9    NaN           NaN      NaN     NaN      NaN
9  8,bar,two,large,7,9    NaN           NaN      NaN     NaN      NaN


user_id
            my_datetime  event  country_code  user_id  source  country
1  0,foo,one,small,1,2    NaN           NaN      NaN     NaN      NaN
2  1,foo,one,large,2,4    NaN           NaN      NaN     NaN      NaN
3  2,foo,one,large,2,5    NaN           NaN      NaN     NaN      NaN
4  3,foo,two,small,3,5    NaN           NaN      NaN     NaN      NaN
5  4,foo,two,small,3,6    NaN           NaN      NaN     NaN      NaN
6  5,bar,one,large,4,6    NaN           NaN      NaN     NaN      NaN
7  6,bar,one,small,5,8    NaN           NaN      NaN     NaN      NaN
8  7,bar,two,small,6,9    NaN           NaN      NaN     NaN      NaN
9  8,bar,two,large,7,9    NaN           NaN      NaN     NaN      NaN


source
            my_datetime  event  country_code  user_id  source  country
1  0,foo,one,small,1,2    NaN           NaN      NaN     NaN      NaN
2  1,foo,one,large,2,4    NaN           NaN      NaN     NaN      NaN
3  2,foo,one,large,2,5    NaN           NaN      NaN     NaN      NaN
4  3,foo,two,small,3,5    NaN           NaN      NaN     NaN      NaN
5  4,foo,two,small,3,6    NaN           NaN      NaN     NaN      NaN
6  5,bar,one,large,4,6    NaN           NaN      NaN     NaN      NaN
7  6,bar,one,small,5,8    NaN           NaN      NaN     NaN      NaN
8  7,bar,two,small,6,9    NaN           NaN      NaN     NaN      NaN
9  8,bar,two,large,7,9    NaN           NaN      NaN     NaN      NaN


country
            my_datetime  event  country_code  user_id  source  country
1  0,foo,one,small,1,2    NaN           NaN      NaN     NaN      NaN
2  1,foo,one,large,2,4    NaN           NaN      NaN     NaN      NaN
3  2,foo,one,large,2,5    NaN           NaN      NaN     NaN      NaN
4  3,foo,two,small,3,5    NaN           NaN      NaN     NaN      NaN
5  4,foo,two,small,3,6    NaN           NaN      NaN     NaN      NaN
6  5,bar,one,large,4,6    NaN           NaN      NaN     NaN      NaN
7  6,bar,one,small,5,8    NaN           NaN      NaN     NaN      NaN
8  7,bar,two,small,6,9    NaN           NaN      NaN     NaN      NaN
9  8,bar,two,large,7,9    NaN           NaN      NaN     NaN      NaN

In [119]:
# Replace the value “South America” from country column with NaN and fill with mode of   the column
data.replace({'country' : 'South America'},np.nan,inplace=True)
data

           my_datetime  event  country_code  user_id  source  country
0           ,A,B,C,D,E    NaN           NaN      NaN     NaN      NaN
1  0,foo,one,small,1,2    NaN           NaN      NaN     NaN      NaN
2  1,foo,one,large,2,4    NaN           NaN      NaN     NaN      NaN
3  2,foo,one,large,2,5    NaN           NaN      NaN     NaN      NaN
4  3,foo,two,small,3,5    NaN           NaN      NaN     NaN      NaN
5  4,foo,two,small,3,6    NaN           NaN      NaN     NaN      NaN
6  5,bar,one,large,4,6    NaN           NaN      NaN     NaN      NaN
7  6,bar,one,small,5,8    NaN           NaN      NaN     NaN      NaN
8  7,bar,two,small,6,9    NaN           NaN      NaN     NaN      NaN
9  8,bar,two,large,7,9    NaN           NaN      NaN     NaN      NaN

In [120]:
data['country']=data['country'].fillna(data.country.mode().iloc[0])
data

IndexError: single positional indexer is out-of-bounds

In [121]:
#Check the count of categories being repeated in the source column.
data['source'].value_counts()

Series([], Name: source, dtype: int64)